.nav{
    background-color: aqua;
    width: 100%;
    padding-top: 20px;
}
ul{
    list-style: none;
    text-align:left;
    display: inline-block;
}
.Link{
    display: inline-block;
    padding: 5px;
    margin: 5px; 
}
.Link{
    text-decoration: none;
    color: black;
}
.input1{
    display: inline-block;
}
.button1{
    margin: 20px;
}
.div2{
    text-align: left;
}